html {
    font-size: 10px;
}
html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.3rem;
}

input {
    margin-bottom: 0;
}

.page {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}

.input-box {
    margin-bottom: 1.5rem;
}

.form-error-text {
    color: darkred;
}
